.progress-box{
    margin: 0;
    padding:0;
}

.progress-box_inner{
    display: flex;
}

.progress-box_inner--left{
    width: 50%;
    padding-right: 50px;
    color: #efefef;
}

.progress-box_inner_title{
    margin-bottom: 40px;
    font-weight: 700;
    color: #fff;
    font-size: 1.75rem;
}

.progress-box_inner_bars {
    padding-top: 33px;
}

.progress-box_inner--right{
    width: 50%;
    padding-right: 50px;
    color: #efefef;
}

@media only screen and (max-width: 805px) {
    .progress-box_inner{
        flex-direction: column;
    }
    .progress-box_inner--left{
        width: 100%;
        padding-right: 0px;
    }
    
    .progress-box_inner--right{
        width: 100%;
        padding-right: 0px;
    }

    .progress-box_inner_bars {
        padding-top: 0px;
    }

    .progress-box_inner_title{
        margin-bottom: 20px;
        margin-top: 20px;
    }
}