.personal-cred_container{
    display: grid;
    padding-top: 100px;
    margin: 32px;
    padding-bottom: 50px;
}

.personal-cred_about-me{
    color: #fff;
    font-weight: 800;
    display: flex;
    margin-bottom: 62px;
    font-size: 32px;
}

.personal-cred_image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.personal-cred_image{
    height: 300px;
    width: 300px; 
}
.personal-cred_name-titel{
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
    margin-bottom: 27px;
    color: #fff;

}

.personal-cred_description{
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 31px;
    margin-bottom: 30px;
}

.personal-cred_infolist{
    display: flex;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 30px;
    margin-bottom: 40px;

}

.personal-cred_infolist_left{
    width: 50%;
    padding-right: 50px;
}



.personal-cred_infolist_right{
    width: 50%;
    padding-left: 50px;
}

.personal-cred-infolist_item{
    display: flex;
}

.personal-cred-infolist_item_art{
    min-width: 50%;
    color: #fff;
    font-weight: 700;
}

.personal-cred-infolist_item_w{
    min-width: 50%;
}

@media only screen and (max-width: 805px){
    .personal-cred_container{
        padding-bottom: 0px;
        margin-bottom: 0;
    }

   .personal-cred_infolist{
    flex-direction: column;
   }
   
   .personal-cred_infolist_right{
    width: 100%;
    padding-left: 0;
   }
    .personal-cred_infolist_left{
        width: 100%;
        padding-right: 0px;
    }
}

